client
nobind
dev tun
remote-cert-tls server
remote {{ openvpn_server_url }} {{ openvpn_port }}
persist-key
persist-tun
# user nobody
# group nogroup
resolv-retry infinite
key-direction 1
ping 10
ping-restart 240
# auth {{ openvpn_auth }}
# script-security 2
verb 3

# up /etc/openvpn/update-resolv-conf
# down /etc/openvpn/update-resolv-conf
