<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.39">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.7.1"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.7.1">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description>Build, Test and Deploy server configurations</description>
  <displayName>Create Server</displayName>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>3</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <org.jenkinsci.plugins.workflow.job.properties.DisableResumeJobProperty/>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.TextParameterDefinition>
          <name>hosts</name>
          <description>Hosts to apply Ansible script on</description>
          <defaultValue>[virtual]
test-ubuntu ansible_port=22 ansible_user=vagrant ansible_ssh_pass=vagrant ansible_host=192.168.1.195
# test-centos ansible_port=22 ansible_user=vagrant ansible_ssh_pass=vagrant ansible_host=192.168.1.195


[metal]
metal-ubuntu ansible_port=22 ansible_user=vagrant ansible_ssh_pass=vagrant ansible_host=192.168.1.195
# test-centos ansible_port=22 ansible_user=vagrant ansible_ssh_pass=vagrant ansible_host=192.168.1.195


[qemu]
# test-raspi  ansible_port=5022  ansible_user=pi       ansible_ssh_pass=raspberry ansible_host=192.168.1.234
# linux-wayne ansible_host=10.8.0.1
# raspi2 ansible_host=10.8.0.10
# ali-bel ansible_host=10.8.0.10
# carrot ansible_host=10.8.0.26

#[raspis:vars]
#ansible_ssh_private_key_file=~/.ssh/id_rsa
</defaultValue>
          <trim>false</trim>
        </hudson.model.TextParameterDefinition>
        <jenkins.plugins.parameter__separator.ParameterSeparatorDefinition plugin="parameter-separator@1.0">
          <name>separator-8890dec4-f641-47fe-ba98-6f6702a9eed7</name>
          <description></description>
          <sectionHeader>Tags</sectionHeader>
          <sectionHeaderStyle></sectionHeaderStyle>
          <separatorStyle></separatorStyle>
        </jenkins.plugins.parameter__separator.ParameterSeparatorDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_helper</name>
          <description>Tag: Helper scripts for the run itself, e.g. determine OS</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_initial</name>
          <description>Tag: Script needed for a first ever run of the OS</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_returnvalue</name>
          <description>Tag: Set return value of the playbook</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_update</name>
          <description>Tag: Update the package managers</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_security</name>
          <description>Tag: Security related packages and updates</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_toolbox</name>
          <description>Tag: Placement of /cicd/ansible/toolbox scripts, used for infrastructure management</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_users</name>
          <description>Tag: Creation of users</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_dns-server</name>
          <description>Tag: Install DNS server</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_docker</name>
          <description>Tag: Install Docker</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_nfs-client</name>
          <description>Tag: Install NFS Client</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_nfs-server</name>
          <description>Tag: Install NFS Server</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_openvpn-client</name>
          <description>Tag: Install OpenVPN client</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_openvpn-server</name>
          <description>Tag: Install OpenVPN server and create new CA (backup old)</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_create_ovpn_user</name>
          <description>Tag: Create a new OpenVPN user certificate</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_delete-ovpn-user</name>
          <description>Tag: Delete an existing OpenVPN user certificate and revoke access</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_node_exporter</name>
          <description>Tag: Install node_exporter</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_kubernetes-server</name>
          <description>Tag: Install kubernetes</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_init-kubernetes</name>
          <description>Tag: Run kubeadm init</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_join-kubernetes</name>
          <description>Tag: Join a kubernetes cluster with host</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.81">
    <script>pipeline{
    agent {
        label &apos;!windows&apos;
    }
    
    environment {
        JUNIT_OUTPUT_DIR    = &apos;junit/&apos;
        
    }
    
    stages {
        stage(&apos;Workspace Preparation&apos;) { // for display purposes
            steps{
                // Clean workspace
                cleanWs()

                // Get code from a GitHub repository
                checkout([$class: &apos;GitSCM&apos;, branches: [[name: &apos;*/rick&apos;]], doGenerateSubmoduleConfigurations: false, extensions: [[$class: &apos;CloneOption&apos;, noTags: true, reference: &apos;&apos;, shallow: true], [$class: &apos;SubmoduleOption&apos;, disableSubmodules: false, parentCredentials: false, recursiveSubmodules: true, reference: &apos;&apos;, shallow: true, trackingSubmodules: false]], submoduleCfg: [], userRemoteConfigs: [[url: &apos;https://github.com/basraven/la1r.git&apos;]]])
                sh label: &apos;Create hosts&apos;, script: &apos;printf &quot;[la1r]\n$os $hosts&quot; &gt; ./cicd/ansible/hosts&apos;
                sh label: &quot;Create ${JUNIT_OUTPUT_DIR}&quot;, script: &quot;mkdir -p ${JUNIT_OUTPUT_DIR}&quot;
                sh label: &apos;Copy ansible.cfg to /etc/ansible/ansible.cfg&apos;, script: &apos;mkdir -p /etc/ansible &amp;&amp; cp -f ./cicd/ansible/config/ansible.cfg /etc/ansible/ansible.cfg&apos;
            }
        }
        stage(&apos;Virtual Deployment&apos;) {
            steps{
                script {
                    tags = sh(returnStdout: true, script: &apos;bash ./cicd/jenkins/create-tags.sh&apos;).trim()
                }
                ansiblePlaybook colorized: true, disableHostKeyChecking: true, installation: &apos;ansible&apos;, inventory: &apos;cicd/ansible/hosts&apos;, extras: &apos;--limit=&quot;virtual&quot;&apos; , playbook: &apos;cicd/ansible/site.yml&apos;, tags: &quot;${tags}&quot;    
                junit &apos;junit/site-*.xml&apos; 
            }
        }
        stage(&apos;Virtual Tests&apos;) {
            steps {
                sh label: &apos;Newman scripts for virtual tests&apos;, script: &apos;echo PLACEHOLDER&apos;
            }
        }    
        stage(&apos;Metal Deployment&apos;) {
            steps{
                script {
                    tags = sh(returnStdout: true, script: &apos;bash ./cicd/jenkins/create-tags.sh&apos;).trim()
                }
                ansiblePlaybook colorized: true, disableHostKeyChecking: true, installation: &apos;ansible&apos;, inventory: &apos;cicd/ansible/hosts&apos;, extras: &apos;--limit=&quot;metal&quot;&apos; , playbook: &apos;cicd/ansible/site.yml&apos;, tags: &quot;${tags}&quot;    
                junit &apos;junit/site-*.xml&apos; 
            }
        }    
        
        stage(&apos;Metal Tests&apos;) {
            steps {
                sh label: &apos;Newman scripts for metal tests&apos;, script: &apos;echo PLACEHOLDER&apos;
            }
        }    
    }
}</script>
    <sandbox>false</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>