cd {{home_dir}}
wget https://www.noip.com/client/linux/noip-duc-linux.tar.gz
mkdir -p {{ noip_dir }}
tar -xvzf noip-duc-linux.tar.gz -C {{ noip_dir }} --strip-components=1
cd {{noip_dir}}

/usr/bin/expect <<END_SCRIPT
spawn make install
expect "Please select the Internet interface from this list*" { send "0\r" }
expect "Please enter the login/email*" { send "{{noip_username}}\r" }
expect "Please enter the password for user*" { send "{{noip_password}}\r" }
expect "Please enter an update interval*" { send "30\r" }
expect "Do you wish to run something at successful update*" {send "N\r" }
END_SCRIPT
