public
credentials
credentials-backup
.vscode
.terraform
*.tfstate*
kubernetes/ai
src/kiosk
**/logs/error.log
**/logs/combined.log
.playwright-mcp

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
.env
# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
.DS_Store

# Task files
# tasks.json
# tasks/ 
