global    
    chroot /var/lib/haproxy
    # stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    # stats timeout 30s
    
    user haproxy
    group haproxy
    daemon

    # Default SSL material locations
    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private

    {# Default ciphers to use on SSL-enabled listening sockets.
    # For more information, see ciphers(1SSL). This list is from:
    #  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
    # An alternative list with additional directives can be obtained from
    #  https://mozilla.github.io/server-side-tls/ssl-config-generator/?server=haproxy
    #}
    
    ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS
    ssl-default-bind-options no-sslv3


defaults
    log global
    mode    http
    option  httplog
    option  dontlognull
    option forwardfor
    option http-server-close
        timeout connect 5000
        timeout client  50000
        timeout server  50000

    {# (These are not there on centos)
    # errorfile 400 /etc/haproxy/errors/400.http
    # errorfile 403 /etc/haproxy/errors/403.http
    # errorfile 408 /etc/haproxy/errors/408.http
    # errorfile 500 /etc/haproxy/errors/500.http
    # errorfile 502 /etc/haproxy/errors/502.http
    # errorfile 503 /etc/haproxy/errors/503.http
    # errorfile 504 /etc/haproxy/errors/504.http
    #}

frontend http_stats
    bind *:8080
    mode http
    stats uri /haproxy?stats

frontend kubernetes_masters_fe
    bind {{ ha_proxy_vir_ip }}:443
    bind {{ ansible_host }}:443
    bind 127.0.0.1:80
    mode tcp
    option tcplog
    default_backend kubernetes_masters_be
    {# timeout client  10800s #}

backend kubernetes_masters_be
    mode tcp
    balance leastconn
    default-server inter 3s downinter 2s rise 2 fall 2 slowstart 20s maxconn 250 maxqueue 256 weight 100
    # server jay-c 192.168.5.3:6443 check port 6443
    server linux-wayne 192.168.5.1:6443 check port 6443 
    {# server stephanie 192.168.5.2:6443 check port 6443 backup #}
    {# timeout server  10800s #}

frontend samba_jayc_fe
    bind {{ ha_proxy_vir_ip_sec }}:137
    bind {{ ha_proxy_vir_ip_sec }}:138
    bind {{ ha_proxy_vir_ip_sec }}:139
    bind {{ ha_proxy_vir_ip_sec }}:445
    mode tcp
    option tcplog
    log global  
    log {{ ha_proxy_samba_logtarget }} local0 
    log-format "{ \"timestamp\": \"%t\", \"haproxy_host\": \"{{ inventory_hostname }}\", \"frontend\": \"%ft\", \"client_ip\": \"%ci\", \"backend\": \"%b\", \"con_status\": \"%ts\", \"server\": \"%s\" }"  # Custom log format
    
    default_backend samba_jayc_be


backend samba_jayc_be
    log global
    log {{ ha_proxy_samba_logtarget }} local0 
    log-format "{ \"timestamp\": \"%t\", \"haproxy_host\": \"{{ inventory_hostname }}\", \"frontend\": \"%ft\", \"client_ip\": \"%ci\", \"backend\": \"%b\", \"con_status\": \"%ts\", \"server\": \"%s\" }"  # Custom log format
    
    mode tcp
     # TCP-based health checks to verify the backend server (checking the port on the server)
    option tcp-check
    tcp-check connect port 445  # Replace with the port that your Samba server is listening on (usually 445)

    # Use the same port as the client connected to on the frontend
    server jay-c 192.168.5.3 port %[dst_port] check

backend samba_spoofed_error_be
    errorfile 503 /etc/haproxy/errors/503.http
    
    # server linux-wayne-spoof { ha_proxy_samba_hostport } check

    # Allow proxy to forward headers
    # option forwardfor

    # Ensure X-Forwarded-For header is forwarded correctly
    # http-request set-header X-Forwarded-For %[src]
    
    # Forward the correct protocol (HTTP/HTTPS) to the backend
    # http-request set-header X-Forwarded-Proto http  # or 'https' if you're using HTTPS

    # Rewrite the request path to prepend `{ ha_proxy_samba_path }` to the original path
    # http-request set-path { ha_proxy_samba_path }
  

{# frontend kubernetes_sec
    bind {{ ha_proxy_vir_ip_sec }}:443
    bind {{ ansible_host }}:443
    bind 127.0.0.1:80
    mode tcp
    option tcplog
    default_backend kubernetes_masters_sec
    # timeout client  10800s

backend kubernetes_masters_sec
    mode tcp
    balance leastconn
    default-server inter 3s downinter 2s rise 2 fall 2 slowstart 20s maxconn 250 maxqueue 256 weight 100
    server linux-wayne 192.168.5.1:6443 check port 6443 
    server jay-c 192.168.5.3:6443 check port 6443
    # server stephanie 192.168.5.2:6443 check port 6443 backup
    # timeout server  10800s
#}