<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.39">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.7.1"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.7.1">
      <jobProperties>
        <string>org.jenkinsci.plugins.workflow.job.properties.DisableResumeJobProperty</string>
      </jobProperties>
      <triggers>
        <string>hudson.triggers.SCMTrigger</string>
      </triggers>
      <parameters>
        <string>tag_hostname</string>
        <string>tag_kerberos_client</string>
        <string>tag_docker</string>
        <string>tag_create_ovpn_user</string>
        <string>tag_init_kubernetes</string>
        <string>tag_node_exporter</string>
        <string>tag_openvpn_server</string>
        <string>newman_tests</string>
        <string>tag_users</string>
        <string>tag_join-kubernetes</string>
        <string>tag_nfs_server</string>
        <string>tag_reset_kubernetes</string>
        <string>tag_delete_ovpn_user</string>
        <string>tag_nfs_client</string>
        <string>tag_reboot</string>
        <string>tag_security</string>
        <string>tag_update</string>
        <string>join_kubernetes_token</string>
        <string>tag_dns_server</string>
        <string>tag_kubernetes_server</string>
        <string>kubernetes_cidr</string>
        <string>deploy_to_virtual</string>
        <string>create_ovpn_user_name</string>
        <string>delete_ovpn_user_name</string>
        <string>tag_fetch_kubernetes</string>
        <string>tag_kerberos_server</string>
        <string>deploy_to_metal</string>
        <string>tag_openvpn_client</string>
      </parameters>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers>
        <hudson.triggers.SCMTrigger>
          <spec></spec>
          <ignorePostCommitHooks>false</ignorePostCommitHooks>
        </hudson.triggers.SCMTrigger>
      </triggers>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
    <org.jenkinsci.plugins.workflow.job.properties.DisableResumeJobProperty/>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.BooleanParameterDefinition>
          <name>deploy_to_virtual</name>
          <description>Deploy to Virtual</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>deploy_to_metal</name>
          <description>Deploy to Metal</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>newman_tests</name>
          <description>Perform newman tests</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_reboot</name>
          <description>Tag: Reboot Machine</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_users</name>
          <description>Tag: Creation of users</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_update</name>
          <description>Tag: Update the package managers</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_hostname</name>
          <description>Tag: Set hostname as inventory file</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_security</name>
          <description>Tag: Security related packages and updates</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_node_exporter</name>
          <description>Tag: Install node_exporter</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_dns_server</name>
          <description>Tag: Install DNS server</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_nfs_client</name>
          <description>Tag: Install NFS Client</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_nfs_server</name>
          <description>Tag: Install NFS Server</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_openvpn_client</name>
          <description>Tag: Install OpenVPN client</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_openvpn_server</name>
          <description>Tag: Install OpenVPN server and create new CA (backup old)</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_create_ovpn_user</name>
          <description>Tag: Create a new OpenVPN user certificate</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>create_ovpn_user_name</name>
          <description>Username for new OpenVpn user</description>
          <defaultValue></defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_delete_ovpn_user</name>
          <description>Tag: Delete an existing OpenVPN user certificate and revoke access</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>delete_ovpn_user_name</name>
          <description>Username for the OpenVpn user to delete</description>
          <defaultValue></defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_docker</name>
          <description>Tag: Install Docker</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_kubernetes_server</name>
          <description>Tag: Install kubernetes</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_reset_kubernetes</name>
          <description>Tag: Reset from kubeadm init and join</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_init_kubernetes</name>
          <description>Tag: Run kubeadm init</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>kubernetes_cidr</name>
          <description>Kubernetes network CIDR for the new cluster</description>
          <defaultValue>10.244.0.0/16</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_fetch_kubernetes</name>
          <description>Tag: Fetch Kubernetes config and put it in a Jenkins credential</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_join-kubernetes</name>
          <description>Tag: Join a kubernetes cluster with host</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>join_kubernetes_token</name>
          <description>The join token to join the Kubernetes cluster</description>
          <defaultValue></defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_kerberos_client</name>
          <description>Tag: Install Kerberos client</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>tag_kerberos_server</name>
          <description>Tag: Install Kerberos server</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps@2.81">
    <scm class="hudson.plugins.git.GitSCM" plugin="git@4.3.0">
      <configVersion>2</configVersion>
      <userRemoteConfigs>
        <hudson.plugins.git.UserRemoteConfig>
          <url>https://github.com/basraven/la1r.git</url>
        </hudson.plugins.git.UserRemoteConfig>
      </userRemoteConfigs>
      <branches>
        <hudson.plugins.git.BranchSpec>
          <name>*/rick</name>
        </hudson.plugins.git.BranchSpec>
      </branches>
      <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
      <submoduleCfg class="list"/>
      <extensions/>
    </scm>
    <scriptPath>cicd/jenkins/pipelines/ansible/Jenkinsfile</scriptPath>
    <lightweight>true</lightweight>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>