---
- name: restart samba on non-centos
  become: yes
  service:
    name: smb
    state: restarted
    enabled: yes
  when: ansible_facts['distribution'] != "CentOS"
  listen: restart samba

- name: restart samba on centos
  become: yes
  service:
    name: smbd
    state: restarted
    enabled: yes
  when: ansible_facts['distribution'] == "CentOSStream"
  listen: restart samba