#!/bin/sh

# Disable screen blanking and DPMS
xset -dpms
xset s off
xset s noblank

# Hide mouse cursor
{% if kiosk_hide_cursor %}
unclutter -idle 0 &
{% endif %}

# Start browser
exec {{ kiosk_browser_command }}