---
- name: Prepare CA folder / Create backup folders
  become: yes
  file:
    path: "{{ item }}"
    state: directory
    force: yes
    recurse: yes
  with_items:
    - "{{ openvpn_ca_dir }}"
    - "{{ openvpn_client_configs_dir }}"
    - "{{ openvpn_ca_backup_dir }}"
    - "{{ openvpn_client_configs_backup_dir }}"

- name: "Prepare CA folder / Copy old CA to {{ openvpn_ca_backup_dir }}"
  become: yes
  copy:
    remote_src: yes
    src: "{{ openvpn_ca_dir }}/"
    dest: "{{ openvpn_ca_backup_dir }}/ca-{{ ansible_date_time.iso8601 }}"
    force: yes

- name: "Prepare CA folder / Copy old client-configs to {{ openvpn_client_configs_backup_dir }}"
  become: yes
  copy:
    remote_src: yes
    src: "{{ openvpn_client_configs_dir }}/"
    dest: "{{ openvpn_client_configs_backup_dir }}/clients-{{ ansible_date_time.iso8601 }}"
    force: yes

- name: "Prepare CA folder / Remove the {{ openvpn_ca_dir }} folder"
  become: yes
  file:
    path: "{{ openvpn_ca_dir }}"
    state: absent
    force: yes

- name: "Prepare CA folder / Remove the {{ openvpn_client_configs_dir }} folder"
  become: yes
  file:
    path: "{{ openvpn_client_configs_dir }}"
    state: absent
    force: yes

- name: "Prepare CA folder / Create the {{ openvpn_ca_dir }} folder"
  become: yes
  file:
    path: "{{ openvpn_ca_dir }}"
    state: directory
    recurse: yes
  # when: ansible_facts['distribution'] == "CentOS"
    # group: "{{ target_user_name }}"
    # owner: "{{ target_user_name }}"

- name: "Prepare CA folder / Create the {{ openvpn_client_configs_dir }} folder"
  become: yes
  file:
    path: "{{ openvpn_client_configs_dir }}"
    state: directory
    force: yes
    recurse: yes
    # group: "{{ target_user_name }}"
    # owner: "{{ target_user_name }}"
