all:
  hosts:
  children:
    cluster:
        vars:
          ansible_user: basraven
          # ansible_ssh_pass: password
          ansible_port: 22
        hosts:
            linux-wayne:
              ha_proxy_node_state: BACKUP
              ha_proxy_node_prio: 103
              ha_proxy_node_interface: "enp3s0"
              keepalived_peers: 192.168.5.3
              ansible_host: 192.168.5.1
              nfs_storage_capabilities:
                - 111
                - 211
                - 221
                - 112
                - 212
                - 222

            jay-c:
              ha_proxy_node_state: MASTER
              ha_proxy_node_prio: 100
              ha_proxy_node_interface: "enp4s0"
              keepalived_peers: 192.168.5.1
              ansible_host: 192.168.5.3
              nfs_storage_capabilities:
                - 111
                - 211
                - 221
    peripheral:
      hosts:
        ali-bel:
          ansible_user: pi
          ansible_ssh_pass: raspberry
          ansible_host: 192.168.9.71
        kodi-e:
          # ansible_user: osmc
          # ansible_ssh_pass: osmc
          ansible_host: 192.168.15.243
          