apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
kubernetesVersion: stable
clusterName: {{ kubernetes_cluster_name }}
certificatesDir: /etc/kubernetes/pki
controlPlaneEndpoint: "{{ ha_proxy_vir_ip }}:443"
apiServer:
  timeoutForControlPlane: 4m0s
  extraArgs:
    oidc-issuer-url: "https://auth.la1r.com/application/o/kubernetes-dashboard/"
    oidc-client-id: "Ziu0kdJQcepZsZHq0c8NRzChfy8RptmvrWVjoZio"
    oidc-username-claim: "email"
    oidc-groups-claim: "groups"
dns:
  type: CoreDNS
etcd:
  local:
    dataDir: /var/lib/etcd
networking:
    dnsDomain: cluster.local
    podSubnet: {{ kubernetes_pod_cidr }}
    serviceSubnet: {{ kubernetes_service_cidr }}
scheduler: {}
